In [12]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

df = pd.DataFrame(pd.read_csv('c:\data\Saif/vcc_689.csv'))
df.describe()

,Mdlive Id,Encounter Id,Age,Zip,Reporting1,Reporting2,Reporting3,Reporting4,Customer Wait Time,Encounter Duration,...,Prescription Count,Provider Npi,Unnamed: 40,Unnamed: 41,distance(KM),duration,cost_travel,total_cost,turnaround,total_time
count,6.880000e+02,6.880000e+02,688.000000,688.000000,0.0,0.0,0.0,0.0,688.000000,688.000000,...,688.000000,6.880000e+02,0.0,0.0,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,1.440832e+07,1.624563e+07,36.767442,27725.623547,NaN,NaN,NaN,NaN,7.250000,5.204767,...,1.232558,1.518600e+09,NaN,NaN,11.902180,10.789244,0.579471,129.579471,12.454767,23.244012
std,1.481366e+06,1.026450e+06,12.975668,365.931436,NaN,NaN,NaN,NaN,14.069023,2.161130,...,0.778898,3.207289e+08,NaN,NaN,15.016031,11.734970,0.723750,0.723750,14.244922,18.590554
min,1.176216e+07,1.394108e+07,1.000000,27020.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,...,0.000000,0.000000e+00,NaN,NaN,1.000000,1.000000,0.042150,129.042150,0.000000,1.000000
25%,1.309556e+07,1.539661e+07,28.750000,27523.750000,NaN,NaN,NaN,NaN,1.000000,4.000000,...,1.000000,1.205897e+09,NaN,NaN,1.000000,1.000000,0.051694,129.051694,6.000000,11.000000
50%,1.442884e+07,1.638324e+07,36.000000,27597.000000,NaN,NaN,NaN,NaN,4.000000,5.000000,...,1.000000,1.568619e+09,NaN,NaN,8.350000,9.000000,0.394826,129.394826,9.000000,21.000000
75%,1.568840e+07,1.711229e+07,46.000000,27807.500000,NaN,NaN,NaN,NaN,7.000000,6.000000,...,2.000000,1.871572e+09,NaN,NaN,19.300000,17.000000,0.918621,129.918621,13.400000,30.000000
max,1.706662e+07,1.782545e+07,76.000000,28806.000000,NaN,NaN,NaN,NaN,193.000000,15.000000,...,6.000000,1.992951e+09,NaN,NaN,151.000000,105.000000,7.494319,136.494319,199.300000,210.300000

In [9]:
df.drop_duplicates(subset=['Encounter Id'],keep='first',inplace=True)
df.describe()

,Mdlive Id,Encounter Id,Age,Zip,Reporting1,Reporting2,Reporting3,Reporting4,Customer Wait Time,Encounter Duration,...,Repeat Visits,Prescription,Prescription Count,Provider Npi,Unnamed: 40,Unnamed: 41,distance(KM),duration(MINS),gas(GALON/MILE),cost(USD)
count,1.260000e+03,1.260000e+03,1260.000000,1260.000000,0.0,0.0,0.0,0.0,1260.000000,1260.000000,...,1260.000000,1260.000000,1260.000000,1.260000e+03,0.0,0.0,1260.000000,1260.000000,13.000000,1260.000000
mean,1.440605e+07,1.623306e+07,36.930952,27738.280159,NaN,NaN,NaN,NaN,7.684921,5.130627,...,0.196825,0.601587,1.261111,1.507363e+09,NaN,NaN,13.069762,11.771429,2.686462,0.639141
std,1.438481e+06,1.000474e+06,13.422119,389.783160,NaN,NaN,NaN,NaN,16.809589,2.141873,...,0.397757,0.489766,0.828932,3.154237e+08,NaN,NaN,14.547804,11.552627,0.209540,0.709235
min,1.176216e+07,1.394108e+07,0.000000,27012.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,NaN,NaN,1.000000,1.000000,2.248000,0.042150
25%,1.312971e+07,1.543660e+07,28.000000,27523.750000,NaN,NaN,NaN,NaN,1.000000,4.000000,...,0.000000,0.000000,1.000000,1.205897e+09,NaN,NaN,1.000000,1.000000,2.587000,0.053175
50%,1.457961e+07,1.629100e+07,37.000000,27603.000000,NaN,NaN,NaN,NaN,4.000000,5.000000,...,0.000000,1.000000,1.000000,1.528015e+09,NaN,NaN,10.600000,12.000000,2.757000,0.481697
75%,1.560896e+07,1.705402e+07,47.000000,27856.000000,NaN,NaN,NaN,NaN,7.000000,6.000000,...,0.000000,1.000000,2.000000,1.871572e+09,NaN,NaN,21.500000,19.000000,2.849000,1.035303
max,1.707877e+07,1.783225e+07,76.000000,28806.000000,NaN,NaN,NaN,NaN,238.000000,15.000000,...,1.000000,1.000000,6.000000,1.992951e+09,NaN,NaN,151.000000,105.000000,2.901000,7.494319

In [10]:
df.to_csv('c:\data\Saif/vcc_1260.csv', index=False)