In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
def detect_outliers(df,col):
    
    Q1 = np.percentile(df[col],25)
    Q3 = np.percentile(df[col],75)
        # interquartile range(IQR)
    IQR = Q3 - Q1

    outlier_step = 1.5 * IQR

        # Determine a list of indeices of ouliers for feature col
    outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step)].index.tolist()


    return outlier_list_col

df = pd.DataFrame(pd.read_csv('c:\data\Saif/INPERSON_TOP10_SERVICECOST_XL.csv'))
df.describe()

,DEID_ENCOUNTER_ID,DEID_PATIENT_ID,DEPARTMENT_ID,PATIENT_STATUS,AGE_AT_ENCOUNTER,ZIP,ENC_REASON7,ENC_REASON8,ADT_ARRIVAL_TIME,HOSP_ADMSN_TIME,HOSP_DISCH_TIME,ENCOUNTER_DURATION,DEPT_ZIP,INPERSON_TRAVELTIME,INPERSON_DRIVINGDIST,GAS_COST,SERVICE_COST
count,1.425900e+04,1.425900e+04,1.425900e+04,0.0,14259.000000,14259.000000,0.0,0.0,0.0,0.0,0.0,14259.000000,14259.000000,14259.000000,14259.000000,14259.000000,14259.000000
mean,7.799872e+10,4.822406e+07,1.034243e+12,NaN,47.503121,28443.941370,NaN,NaN,NaN,NaN,NaN,63.283428,28438.188583,13.755538,8.568413,0.702913,145.264745
std,6.856370e+09,2.956101e+07,2.341706e+10,NaN,18.933288,520.738055,NaN,NaN,NaN,NaN,NaN,45.026310,532.011599,12.967566,8.277337,0.680308,58.658624
min,7.302000e+10,5.161000e+03,1.010322e+12,NaN,18.000000,27012.000000,NaN,NaN,NaN,NaN,NaN,0.066667,27027.000000,1.000000,0.961264,0.073681,0.000000
25%,7.302410e+10,2.190716e+07,1.010413e+12,NaN,31.000000,28611.000000,NaN,NaN,NaN,NaN,NaN,34.983333,28630.000000,1.000000,1.000000,0.085080,97.000000
50%,7.302815e+10,4.800764e+07,1.030337e+12,NaN,47.000000,28645.000000,NaN,NaN,NaN,NaN,NaN,51.300000,28638.000000,13.416667,7.091727,0.586557,154.000000
75%,8.302492e+10,7.374464e+07,1.052441e+12,NaN,62.000000,28732.000000,NaN,NaN,NaN,NaN,NaN,77.358333,28704.000000,23.483333,14.534530,1.202151,156.000000
max,9.303000e+10,9.998904e+07,1.080599e+12,NaN,98.000000,28816.000000,NaN,NaN,NaN,NaN,NaN,549.800000,28792.000000,57.066667,58.156760,5.061383,351.000000

In [2]:
outlier_list=detect_outliers(df, 'SERVICE_COST')
len(outlier_list)

238

In [4]:
for row in outlier_list:
    print (row,df.iloc[row]['SERVICE_COST'])

2 351.0
58 351.0
72 351.0
73 351.0
133 351.0
164 351.0
173 351.0
268 351.0
281 310.0
381 248.0
683 351.0
708 351.0
786 351.0
859 351.0
1068 351.0
1133 351.0
1367 351.0
1390 312.0
1475 351.0
1728 351.0
1760 351.0
1972 351.0
2016 351.0
2139 351.0
2249 351.0
2341 351.0
2432 351.0
2565 351.0
2756 351.0
2777 351.0
2856 248.0
2881 351.0
2926 351.0
3185 351.0
3322 351.0
3340 310.0
3389 351.0
3423 351.0
3433 351.0
3687 351.0
3735 351.0
3804 351.0
3871 351.0
3988 351.0
4086 351.0
4104 351.0
4119 351.0
4156 351.0
4160 351.0
4169 351.0
4352 351.0
4451 351.0
4581 351.0
4666 351.0
4797 351.0
4801 351.0
4828 248.0
4952 351.0
4961 351.0
4973 351.0
5044 351.0
5076 351.0
5185 351.0
5250 310.0
5397 351.0
5412 351.0
5674 351.0
5750 351.0
5765 351.0
5768 351.0
5781 351.0
5830 310.0
6105 351.0
6124 351.0
6166 310.0
6253 351.0
6385 351.0
6431 351.0
6441 351.0
6562 351.0
6769 351.0
6849 351.0
6851 351.0
6874 351.0
7021 351.0
7145 351.0
7272 351.0
7550 351.0
7576 351.0
7628 351.0
7869 351.0
7878 351.0
7979 351.0
8175 351.0
8214 351.0
8257 351.0
8324 351.0
8488 312.0
8533 351.0
8555 351.0
8588 351.0
8740 351.0
8799 351.0
8910 351.0
8940 351.0
8942 351.0
9057 351.0
9069 351.0
9075 351.0
9086 351.0
9102 351.0
9104 351.0
9157 0.0
9161 351.0
9177 351.0
9223 351.0
9274 351.0
9284 0.0
9301 351.0
9319 351.0
9454 351.0
9584 351.0
9628 351.0
9665 351.0
9746 351.0
9847 351.0
9855 351.0
9943 351.0
9966 351.0
9982 351.0
10002 351.0
10071 310.0
10106 351.0
10128 351.0
10132 351.0
10154 351.0
10199 351.0
10274 351.0
10311 351.0
10371 351.0
10417 351.0
10431 351.0
10516 351.0
10519 351.0
10542 351.0
10573 351.0
10597 351.0
10616 351.0
10699 351.0
10712 351.0
10768 351.0
10793 351.0
10808 351.0
10832 351.0
10840 351.0
10999 351.0
11201 351.0
11237 351.0
11273 351.0
11384 310.0
11457 351.0
11470 351.0
11473 351.0
11506 351.0
11529 351.0
11561 351.0
11575 351.0
11588 351.0
11610 351.0
11622 248.0
11714 351.0
11750 351.0
11843 351.0
11857 310.0
11878 351.0
12026 351.0
12059 351.0
12160 351.0
12220 0.0
12221 248.0
12228 351.0
12234 351.0
12246 351.0
12250 351.0
12252 351.0
12266 351.0
12286 351.0
12322 351.0
12329 351.0
12332 351.0
12374 351.0
12411 351.0
12413 351.0
12463 351.0
12477 351.0
12478 351.0
12544 351.0
12550 351.0
12558 351.0
12594 351.0
12606 351.0
12624 351.0
12653 351.0
12674 0.0
12696 351.0
12724 351.0
12744 351.0
12756 351.0
12777 351.0
12811 351.0
12859 351.0
12865 351.0
13028 351.0
13100 351.0
13113 351.0
13114 351.0
13177 351.0
13190 351.0
13203 351.0
13263 351.0
13289 351.0
13306 248.0
13318 351.0
13320 310.0
13393 351.0
13447 310.0
13512 351.0
13667 351.0
13744 248.0
13824 351.0
13841 351.0
13970 351.0
14088 351.0
14094 351.0
14118 351.0
14149 351.0
14201 351.0
14219 351.0

In [5]:
for row in outlier_list:
    df=df.drop([row])

df.shape

(14021, 38)

In [8]:
df.to_csv('c:\data\Saif/INPERSON_TOP10_SERVICECOST_NOOUTLIER.csv',index=False)
df['SERVICE_COST'].describe()

count    14021.000000
mean       141.958847
std         52.958552
min         25.000000
25%         97.000000
50%        154.000000
75%        156.000000
max        230.000000
Name: SERVICE_COST, dtype: float64